/*新建比赛导航*/
.content-wrapper {
    padding: 22px;
}

.match-nav #matchcreate {
    border: 1px solid #f4f4f4;
    background-color: #fff;
}

.match-nav #matchcreate a {
    border-bottom: 4px solid transparent;
    color: #818181;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 14px;
    line-height: 40px;
    background-color: transparent;
}

.match-nav #matchcreate li.active a {
    border-bottom: 4px solid #d0a45d;
}

.match-nav #matchcreate a:hover {
    border-bottom: 4px solid #d0a45d;
}

.match-nav #matchcreate .navbar-nav {
    position: relative;
    left: 50%;
    margin-left: -268px;
}

/*赛事主题*/
.match-theme {
    border: 1px solid #f8f8f8;
    margin-top: 10px;
    padding-bottom: 25px;
}

.match-theme h4 {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
    padding-left: 66px;
    padding-top: 24px;
    padding-bottom: 15px;
}
.match-theme label{
	font-size: 14px;
	color: #999999;
}

.match-theme input,
.match-theme textarea{
	background-color: #fafafa;
}
.match-theme input:focus,
.match-theme textarea:focus{
	background-color: #fff;
}
.match-theme .match-poster,
.match-theme .match-detailpage,
.match-theme .match-time,
.match-theme .match-partner,
.match-theme .match-award,
.match-theme .match-review{
   background-color: #fff;
   border-bottom: 1px solid #f8f8f8;
   padding-bottom: 25px;
}

.match-theme #addVar{
    position: relative;
    left: 4px;
    display:inline-block;
    padding: 1px 15px;
    background-color:#fff;
    color:#f1f1f1;
    font-size: 20px;
    border:2px solid #eeeeee;
    color: #dddddd;
}
.match-theme .removeVar{
    margin:auto;
    padding: 1px 15px;
    font-size: 20px;
    display:inline-block;
    background-color:#fff;
    color: #dddddd;
    border:2px solid #eeeeee;
}

.match-theme #addVar:hover,
.match-theme .removeVar:hover{
    cursor: pointer;
}

.match-theme .alignRight{
    text-align: right;
}

.match-theme input, textarea{
    padding:5px;
    font-size: 16px;
}
.match-theme .nextPage{
    text-align: center
}
.match-theme .nextPage .btn-default{
    background-color: #262626;
    border: 0;
    border-radius: 0;
    font-size: 16px;
    color: #d0a45d;
    padding: 10px 35px;
    margin-top: 20px;
}

/*组委会信息*/
.match-partner .match-partner-add{
    margin-bottom: 0;
}
.match-theme #addVar1{
    position: relative;
    left: 4px;
    display:inline-block;
    padding: 1px 15px;
    background-color:#fff;
    color:#f1f1f1;
    font-size: 20px;
    border:2px solid #eeeeee;
    color: #dddddd;
}
.match-theme .removeVar1{
    margin:auto;
    padding: 1px 15px;
    font-size: 20px;
    display:inline-block;
    background-color:#fff;
    color: #dddddd;
    border:2px solid #eeeeee;
}
.match-theme #addVar1:hover,
.match-theme .removeVar1:hover{
    cursor: pointer;
}

.match-theme #addVar2{
    position: relative;
    left: 4px;
    display:inline-block;
    padding: 1px 15px;
    background-color:#fff;
    color:#f1f1f1;
    font-size: 20px;
    border:2px solid #eeeeee;
    color: #dddddd;
}
.match-theme .removeVar2{
    margin:auto;
    padding: 1px 15px;
    font-size: 20px;
    display:inline-block;
    background-color:#fff;
    color: #dddddd;
    border:2px solid #eeeeee;
}
.match-theme #addVar2:hover,
.match-theme .removeVar2:hover{
    cursor: pointer;
}

/*评委/嘉宾*/
.match-guest{
    margin-top: 30px;
    text-align: center
}
.match-guest .nextPage{
    text-align: center
}
.match-guest .nextPage .btn-default{
    background-color: #262626;
    border: 0;
    border-radius: 0;
    font-size: 16px;
    color: #d0a45d;
    padding: 10px 35px;
    margin-top: 20px;
}
.match-guest .nav-tabs{
    border: none;
    display: inline-block;
}
.match-guest .nav-tabs>li>a{
    color: #000;
    font-size: 16px;
    line-height: 10px;
    padding-left: 25px;
    padding-right: 25px;
    border: none;
    margin-right: 0;
}
.match-guest .nav-tabs>li.active>a,
.match-guest .nav-tabs>li.active>a:focus, 
.match-guest .nav-tabs>li.active>a:hover{
    font-size: 16px;
    color: #000;
    border: none;
    margin-right: 0;
}
ul{
    padding: 0;
    margin: 0;
}
li{
    list-style: none;
}
.match-guest .content ul{
    text-align: center;
}
.match-guest .content ul li{
    vertical-align: top;
    display: inline-block;
    border: 1px solid #e9e9e9;
    width: 262px;
    height: 350px;
    margin-bottom:10px;
}
.match-guest .content ul li.addjudge{
    background-color: #999999;
    padding-top: 130px;
}
.match-guest .content .addjudge a{
    text-decoration: none;
    color: #fff;
    font-size: 30px;
    padding-top: 50%;
}
.match-guest .content .addjudge a p{
    margin-top: 10px;
    font-size: 16px;
}
.match-guest .content .addjudge .add-button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: relative;
    left: 50%;
    margin-left: -25px;
    background-color: #cccccc;
}
.match-guest .content img{
    width: 262px;
    height: 195px;
}
.match-guest .content .judge-content{
    border-bottom: 1px solid #e9e9e9;
    padding-left: 10px;
}
.match-guest .content .judge-content h4{
    margin-bottom: 0;
    color: #000;
}
.match-guest .content .judge-content p{
    color: #666666;
}
.match-guest .content .judge-content p:last-child{
    margin-bottom: 0;
}
.match-guest .content .footer{
    padding-left: 20px;
    padding-right: 20px;
    font-size: 12px;
    color: #d2d2d2;
    margin-top: 8px;
    margin-bottom: 10px;
    text-align: center;
}
.match-guest .content .footer div{
    display: inline-block;
    padding-right: 10px;
    padding-left: 10px;
    color: #c7c7c7;
}
.match-guest .content .footer .fa{
    font-size: 16px;
}
.match-guest .content .judge-img{
    position: relative;
}
.match-guest .content .close{
    position: absolute;
    padding-top: 2px;
    background-color: #000;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: #fff;
    opacity:1;
    right: 8px;
    top: 7px;
    display: none;
}

/*嘉宾详情页*/
.match-guestdata .search-form {
    position: relative;
}

.match-guestdata .search-form .fa-search {
    color: #8e8e8e;
    font-size: 24px;
    position: absolute;
    left: 10px;
    top: 10px;
}

.match-guestdata .search-form input {
    border: none;
    background-color: #f5f5f5;
    border-bottom: 2px solid #c8c8c8;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 44px;
    margin-bottom: 32px;
    min-width: 400px;
    outline: none;
    font-size: 16px;
}
.match-guestdata .addguest .new{
    display: inline-block;
    color: #d0a45d;
    background-color: #262626;
    padding: 11px 22px;
}
.match-guestdata .addguest .add{
    display: inline-block;
    color: #ffffff;
    background-color: #d0a45d;
    padding: 11px 22px;
}

.match-guestdata .content ul{
    text-align: center;
}
.match-guestdata .content ul li{
    position: relative;
    vertical-align: top;
    display: inline-block;
    border: 1px solid #e9e9e9;
    width: 262px;
    height: 350px;
    margin-bottom:10px;
}
.match-guestdata .content img{
    width: 262px;
    height: 195px;
}
.match-guestdata .content .judgedata-content{
    border-bottom: 1px solid #e9e9e9;
    padding-left: 10px;
}
.match-guestdata .content .judgedata-content h4{
    margin-bottom: 0;
    color: #000;
}
.match-guestdata .content .judgedata-content p{
    color: #666666;
}
.match-guestdata .content .judgedata-content p:last-child{
    margin-bottom: 0;
}
.match-guestdata .content .footer{
    padding-left: 20px;
    padding-right: 20px;
    font-size: 12px;
    color: #d2d2d2;
    margin-top: 8px;
    margin-bottom: 10px;
    text-align: center;
}
.match-guestdata .content .footer div{
    display: inline-block;
    padding-right: 10px;
    padding-left: 10px;
    color: #c7c7c7;
}
.match-guestdata .content .footer .fa{
    font-size: 16px;
}
.match-guestdata .content .judgedata-img{
    position: relative;
}
.match-guestdata .content .check{
    position: absolute;
    padding-top: 2px;
    border: 2px solid #ccc;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: #ccc;
    font-size: 18px;
    opacity:1;
    right: 8px;
    top: 7px;
    z-index: 101;
}
.match-guestdata .content .model {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: rgba(100,100,100,0.5);
}

/*奖项设置*/
.match-theme #addVar3{
    position: relative;
    left: 4px;
    display:inline-block;
    padding: 1px 15px;
    background-color:#fff;
    color:#f1f1f1;
    font-size: 20px;
    border:2px solid #eeeeee;
    color: #dddddd;
}
.match-theme .removeVar3{
    margin:auto;
    padding: 1px 15px;
    font-size: 20px;
    display:inline-block;
    background-color:#fff;
    color: #dddddd;
    border:2px solid #eeeeee;
}

.match-theme #addVar3:hover,
.match-theme .removeVar3:hover{
    cursor: pointer;
}

/*投稿要求*/
/* .match-review input::-ms-input-placeholder{
    text-align: center;
} 
.match-review input::-webkit-input-placeholder{
    text-align: center;
} */
.nav-otherjob{
    border: none;
}
.nav-otherjob>li>a{
    color: #000;
    font-size: 14px;
    line-height: 10px;
    padding-left: 34px;
    padding-right: 34px;
    border: none;
    margin-right: 0;
    color: #999999;
}
.nav-otherjob>li.active>a,
.nav-otherjob>li.active>a:focus, 
.nav-otherjob>li.active>a:hover{
    font-size: 14px;
    color: #000;
    border: none;
    margin-right: 0;
    color: #323232;
}
.match-review{
    padding-top: 40px;
}