
 
*{
	box-sizing: border-box;
}
h1,h2,h3,h4,h5,p{
	margin: 0;
}
#matchview{
	background-color: #f5f5f5;
	padding : 94px 20px;
	position: relative;
}

.col-sm-10 {
	padding: 0;
	width: 990px;
	background: #fff;
	padding-bottom: 100px;
}
#matchview .col-sm-2{
	width: 240px;
	white-space: normal;margin-left: 10px;
}
.tac {
	text-align: center;
}
 


/*广告图*/
.detail_banner{
	padding: 17px 15px 0 ;
	 
}
.detail_cont{
	padding: 0 60px;
}
h2{
	padding-top: 42px;
	font-size: 34px;
	font-weight: bold;
}

h3{
	color: #D0A45D;
	font-weight: bold;
	padding: 63px 0 40px;
	font-size: 24px
	font-weight: bold;
}
.content{
	font-size: 16px;
	line-height: 32px;
	white-space: normal;
}

.content .msg {
	padding: 20px 0 0 0;
}

.judges_ul{
	white-space: normal;
	display: flex;
	width: 100%;
}

.judges_ul li {
	/* float: left; */
	flex: 1;
	width: 19%;
	padding-right: 1%;
	line-height: 32px;
	font-size: 16px;
	position: relative;
}
.judges_ul li .judge_img {
	display: block;
	width: 120px;
	margin:0 auto;
	height: 120px;
	border-radius: 50%;
}

.judges_info{
	position: absolute;
    bottom: -253px;
    left: 5px;
    background-color: #fff;
    text-align: left;
    vertical-align: top;
    width: 880px;
    padding: 8px 22px;
    min-height: 253px;
    z-index: 100;
    border: 1px solid #d4b179;
}
.judges_info img {
	position: absolute;
	top:50%;
	transform: translateY(-50%);
	left: 22px;
}
.text_hide{
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.judges_detail_msg {
	padding-left: 230px;
}
.judge_info .name{
	padding-top: 20px;
    padding-bottom: 0;
    color: #000000;
    font-size: 20px;
    font-weight: bold;
}
.judge_info .title {
	font-size: 14px;
    color: #000;
	padding: 10px 0 5px 0;
	width: 100%;
}
.title{
	width: 100%;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}
.require_content  .title{
	width: 71%;
	font-weight: bold;
}

.judges_info .cont {
	font-size: 14px;
    line-height: 21px;
    color: #d4b179;
}

.zuweihui .require_content{
	width: 50%;
}
/*侧边栏*/
.slide_btn {
	margin-bottom: 5px;
}
.slide_btn .btn{
	box-shadow:0px 7px 8px -4px #ff675b,0 17px 0px -14px #ff8b81 inset, 0 -14px 0px -10px #d21405 inset, 0 -15px 0px -10px #ff675b inset;
	width: 100%;
	margin-bottom: 10px;
	font-size: 22px;
	border: none;
	height: 60px;
	position: relative;
	background-color: #ff4a3b;
	color: #fff;
	border-radius: 6px;
}
.slide_btn .btn:after{
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	box-shadow: 2px 2px 5px #333333;
}
.slide_btn a.btn{
	display: block;
	text-decoration: none;
	line-height: 48px;
	text-align: center;
}
.slide_btn a:hover{
	text-decoration: none;
}
.slide_ul {
	background-color: #fff;
}
.slide_ul li {
	border-bottom: 1px solid #e9e9e9;
	height: 50px;
	color: #999;
	font-size: 18px;
	line-height: 50px;
	position: relative;
}
.slide_ul li:last-child{
	background: url(../../../img/arr_t.jpg) center center no-repeat;
}
.slide_ul li:last-child a {
	display: block;
	height: 100%;
}

.slide_ul li.current{
	/*border-left:5px solid #D0A45D;*/
	color: #000;
}



/*弹出层*/
.layer{
	display: none;
	position: fixed;;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1000;
	background-color: rgba(0,0,0,0.5);
}
.t5 li {
	position: relative;
}


 .Confirm-msg {
 	padding: 20px  0 30px 130px;
 }
 .Confirm-msg div {
 	margin-top: 20px;
 }
 .right{
	 float:right;
 }

 #footer_page.current {
 	position: fixed;
 	bottom: 0;
 	width: 1000px;
 	background-color: #f1f1f1;
 	height: 60px;
 	line-height: 60px;
 	 left: 50%;
 	transform:translateX(-68%); 
 }
 #footer_page .btn-default{
 	background-color: #262626;
    border: 0;
    border-radius: 0;
    font-size: 16px;
    color: #d0a45d;
    padding: 10px 35px;
    margin-top: 20px;
 }
 .slide_contrains.current{
	position: absolute;
	right: 124px;
	top: 0;
 }
 .slide_contrains{
 	padding: 0
 }

 .Mintac{
	 text-align: center;
	 color: #D0A45D;
	 font-size: 18px;
	 font-weight: bold;
	 margin-bottom: 20px;
 }
 .Mintac:nth-of-type(2){
	margin-top: 40px;
 }
 .require_list{
	 color: #999999;
	 font-weight: bold;
	 display: inline-block;
	 width:100px;
	 text-align: right;
	 padding-right: 12px;
	 float: left;
 }
.zuweihui .require_list{
	 width:48%;
 }
 .zuweihui li:last-child{
 	margin-top: 40px;
 }
 .require_content{
 	width: 71%;
 }
 .bucong.require_content{
 	width: 100%;
 	padding-left: 100px;
 }
 .zuweihui .require_content{
	 display: inline-block;
	 width: 52%;
	 text-align: left;
 }
 .start_time{
 	margin-top: 20px;
 	font-size: 16px;
 	line-height: 32px;
 }
 .contact{
	 margin-right: 30px;
 }
 .award_ranking{
	 font-size: 20px;
	 font-weight: bold;
	 margin-bottom: 14px;
 }
 .award_list>li{
	margin-bottom: 26px;
 }