ul{
	padding: 0;
	margin: 0;
	list-style: none;
}
/*登录页广告设置*/
#information{
	padding-left: 46px;
	padding-top: 50px;
}
#information .login-set{
	margin-top: 30px;
}
#information .login-set ul li {
	float: left;
	margin-right: 36px;
}
#information .adviset-content{
	margin-top: 10px;
	width:316px;
	padding-left: 16px;
	padding-right: 16px;
	background-color: #fff;
	border:1px solid #ececec;
}
#information .title{
	font-size: 20px;
	color: #797979;
}
#information input{
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	border: none;
	border-bottom: 1px solid #d4d4d4;
}

#information input::-webkit-input-placeholder { /* WebKit browsers */
    color: #cbcbcb;
    text-align: center;
    font-size: 16px;
}
#information input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #cbcbcb;
    text-align: center;
    font-size: 16px;
}
#information input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #cbcbcb;
    text-align: center;
    font-size: 16px;
}
#information input:-ms-input-placeholder { /* Internet Explorer 10+ */
	color: #cbcbcb;
	text-align: center;
    font-size: 16px;
}
#information input.maintitle::-webkit-input-placeholder { /* WebKit browsers */
    font-size: 24px;
}
#information input.maintitle:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    font-size: 24px;
}
#information input.maintitle::-moz-placeholder { /* Mozilla Firefox 19+ */
    font-size: 24px;
}
#information input.maintitle:-ms-input-placeholder { /* Internet Explorer 10+ */
    font-size: 24px;
}
