ul{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
/*主内容头部*/
.content-wrapper > .content-header {
    padding-top: 10px;
    padding-left: 20px;
}

.content-wrapper > .content-header .nav-tabs {
    border-bottom: 0;
}

.content-wrapper > .content-header .nav-tabs li a {
    margin-left: -1px;
    padding: 8px 20px;
    color: #000;
    margin-right: 0;
    border: 1px solid #f5f5f5;
    border-radius: 0;
}

/*主内容内容*/
/*搜索框*/
.content-wrapper > .content .search-form {
    position: relative;
}

.content-wrapper > .content .search-form .fa-search {
    color: #8e8e8e;
    font-size: 24px;
    position: absolute;
    left: 10px;
    top: 24px;
}

.content-wrapper > .content .search-form input {
    border: none;
    background-color: #f5f5f5;
    border-bottom: 2px solid #c8c8c8;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 44px;
    margin-top: 12px;
    margin-bottom: 25px;
    min-width: 100px;
    outline: none;
    font-size: 16px;
}
/* 赛事赛选 */
.content {
    position: relative;
    top: -22px;
}
.content .matchkind .form-control,
.content .matchtime .form-control,
.content .matchstate .form-control,
.content .rater .form-control{
    width: 100px;
    font-size:12px;
}
.content .infroview .dropdown .btn-default {
    background-color: #fff;
}

.content .infroview #dropdownMenu3 {
    border: none;
    background-color: #f5f5f5;
}

.content .infroview #dropdownMenu3 {
    border: none;
    background-color: #f5f5f5;
}

.content .infroview .dropdown .dropdown-menu {
    min-width: 90px;
    top: 94%;
}

.content .infroview .dropdown .dropdown-menu {
    padding: 20px 20px 0 20px;
}
/*批量导出*/
.content .batch-export .dropdown .btn-success {
    background-color: #262626;
    padding-left: 20px;
    padding-right: 20px;
    color: #d4b179;
    border: none;
}

.content .batch-export .dropdown .dropdown-menu {
    min-width: 120px;
}

.content .batch-export .dropdown-menu li {
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}

.match-main {
    margin-right: -30px;
    margin-top: 10px;
}

.match-main > li {
    position: relative;
    background-color: #fff;
    width: 358px;
    height: 285px;
    float: left;
    border: 1px solid #f5f5f5;
    margin-right: 15px;
    margin-bottom: 20px;
}
.match-main > li img{
     width: 358px;
     height: 200px;
}

.match-main .match-content {
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 12px;
    color: #d2d2d2;
    padding-bottom: 10px;
}

.match-main .match-content h4 {
    font-size: 16px;
    font-weight: bold;
    margin-top: 13px;
    color: #000;
}
.match-main .match-content p {
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 12px;
    color: #191919;
}
.match-main .match-content .nostart{
    color: #d0a45d;
}
.match-main .match-content .nofinish{
    color: #ff4a3b;
}
.match-main .match-content .share-alt {
    position: absolute;
    right: 10px;
    bottom: 7px;
    font-size: 16px;
}
.match-main .footer{
    position: absolute;
    bottom: 0;
    right: 0;
}
.match-main .footer span{
    font-size: 18px;
    padding-left: 10px;
    padding-right: 10px;
    color: #191919;
}
.match-main .footer span > a{
    text-decoration: none;
    color: #191919;
}
.match-main .footer .dropdown-menu{
    min-width: 130px;
    text-align: center;
}
.match-main .footer .dropdown-menu .divider{
    margin:0;
}

/*审核中赛事*/
/*标题*/
.rater-title h3{
    font-size: 20px;
}
@media (min-width: 768px){
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}
/* 导航 */
.rater-nav{
    display: inline-block;
    position: relative;
}
.rater-nav > ul{
    border-bottom: 1px solid #ccc;
}
.rater-nav > ul>li{
    position: relative;
}
.rater-nav .progress{
    position: absolute;
    bottom: -21px;
    width: 150px;
    height: 4px;
    background-color: #d0a45d;
}
.rater-nav > ul > li > a{
    /* color: #323232; */
    font-size: 14px;
}
.rater-nav > ul > li:last-child >a{ 
    color: #999999;
}
.rater-nav > ul > li:nth-last-child(2) >a{ 
    color: #999999;
}
.rater-nav .time{
    color:#d0a45d;
    font-size:12px;
    position: absolute;
    width: 94px;
    padding: 6px 4px;
    /* margin-left:-108px; */
    /* margin-top: 2px; */
}
/*评审作品*/
.rater-main {
    position: relative;
    margin-right: -30px;
    margin-top: 10px;
}

.rater-main > li {
    position: relative;
    overflow: hidden;
    background-color: #fff;
    width: 268px;
    height: 300px;
    float: left;
    border: 1px solid #f5f5f5;
    margin-right: 13px;
    margin-bottom: 20px;
    padding-bottom: 10px;
    position: relative;
}
 
.rater-main .rater-img2,.rater-main .rater-img{
     width: 266px;
     height: 196px;
     overflow: hidden;
     background-color: #fff;
     position: relative;
}
.rater-main > li img{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  /* width: 266px;
     height: 196px;*/
     /*width: auto;  */
    max-width: 100%;  
    max-height: 100%;
}
.rater-main .rater-content {
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 6px;
}
.rater-main .rater-content h4{
      white-space: nowrap; /* 文本不换行 */
      overflow: hidden;    /* 溢出文本隐藏 */
      text-overflow: ellipsis; /* 溢出文本省略 */
}
.rater-main .img-Id{
    position: absolute;
    top: 0px;
    right: 10px;
    color: #999999;
    font-size: 10px;
}
.rater-main .rater-btn .passbtn{
    margin-right: 4px;
    font-size: 14px;
    color: #508c1b;
    border: none;
    padding: 4px 20px;
    background-color: #ffffff;
    border:1px solid #508c1b;
}
.rater-main .rater-btn .passbtn:hover{
    background-color: #508c1b;
    color: #ffffff;
}
.rater-main .rater-btn .passbtn.active{
    background-color: #508c1b;
    color: #ffffff;
}
.rater-main .rater-btn .whilebtn{
    margin-right: 4px;
    font-size: 14px;
    color: #666666;
    border: none;
    padding: 4px 20px;
    background-color: #ffffff;
    border:1px solid #666666;
}
.rater-main .rater-btn .whilebtn:hover{
    background-color: #666666;
    color: #ffffff;
}
.rater-main .rater-btn .whilebtn.active{
    background-color: #666666;
    color: #ffffff;
}
.rater-main .rater-btn .outbtn{
    margin-right: 4px;
    font-size: 14px;
    color: #ff4a3b;
    border: none;
    padding: 4px 20px;
    background-color: #ffffff;
    border:1px solid #ff4a3b;
}
.rater-main .rater-btn .outbtn:hover{
    background-color: #ff4a3b;
    color: #ffffff;
}
.rater-main .rater-btn .outbtn.active{
    background-color: #ff4a3b;
    color: #ffffff;
}
.rater-main .rater-footer{
    position: absolute;
    right: 5px;
    bottom: 3px;
}
.rater-main .rater-footer a{
    padding-left: 10px;
    color: #d1d1d1;
    font-size: 18px;
}
.rater-main .rater-img img{
    cursor: pointer;
}
/*评委投票模态框*/
#imgrater1 .modal-title{
    font-size: 14px;
    color: #999999;
}
#imgrater1 .modal-body >ul>li{
    float: left;
}
#imgrater1 .modal-body >ul>li .img{
    position: relative;
    width: 480px;
    height: 360px;
}
#imgrater1 .img img{
    width: 480px;
    height: 360px;
}
#imgrater1 .img span{
    font-size: 30px;
    position: absolute;
    top: 45%;
    color: #6a6a6a;
    cursor: pointer;
}
#imgrater1 .img .prev{
    left: -30px;
}
#imgrater1 .img .next{
    right: -30px;
}
#imgrater1 .btnrater{
    padding-top: 20px;

}
#imgrater1 .btnrater .passbtn{
    margin-right: 4px;
    font-size: 14px;
    color: #508c1b;
    border: none;
    padding: 4px 20px;
    background-color: #ffffff;
    border:1px solid #508c1b;
}
#imgrater1 .btnrater .passbtn:hover{
    background-color: #508c1b;
    color: #ffffff;
}
#imgrater1 .btnrater .passbtn.active{
    background-color: #508c1b;
    color: #ffffff;
}
#imgrater1 .btnrater .whilebtn{
    margin-right: 4px;
    font-size: 14px;
    color: #666666;
    border: none;
    padding: 4px 20px;
    background-color: #ffffff;
    border:1px solid #666666;
}
#imgrater1 .btnrater .whilebtn:hover{
    background-color: #666666;
    color: #ffffff;
}
#imgrater1 .btnrater .whilebtn.active{
    background-color: #666666;
    color: #ffffff;
}
#imgrater1 .btnrater .outbtn{
    margin-right: 4px;
    font-size: 14px;
    color: #ff4a3b;
    border: none;
    padding: 4px 20px;
    background-color: #ffffff;
    border:1px solid #ff4a3b;
}
#imgrater1 .btnrater .outbtn:hover{
    background-color: #ff4a3b;
    color: #ffffff;
}
#imgrater1 .btnrater .outbtn.active{
    background-color: #ff4a3b;
    color: #ffffff;
}
#imgrater1 .nextbtn{
    background-color: #262626;
    border: 0;
    border-radius: 0;
    font-size: 16px;
    color: #d0a45d;
    padding: 3px 14px;
    position: relative;
    left: 130px;
    top: 1px;
    margin-bottom: 120px;
}

@media (min-width: 768px){
    #imgrater1 .modal-dialog.modal100 {
        width: 1200px;
        margin: 30px auto;
    }
}
#imgrater1 .wrapperinfro{
    padding-left: 100px;
    width: 500px;
}
#imgrater1 .wrapperinfro li{
    padding-top: 20px;
}
#imgrater1 .wrapperinfro li span:first-child{
    display: inline-block;
    width: 80px;
    color: #999999;
}

/*评委评分模态框*/
#imgrater2 .modal-title{
    font-size: 14px;
    color: #999999;
}
#imgrater2 .modal-body >ul>li{
    float: left;
}
#imgrater2 .modal-body >ul>li .img{
    position: relative;
    width: 480px;
    height: 360px;
}
#imgrater2 .img img{
    width: 480px;
    height: 360px;
}
#imgrater2 .img span{
    font-size: 30px;
    position: absolute;
    top: 45%;
    color: #6a6a6a;
    cursor: pointer;
}
#imgrater2 .img .prev{
    left: -30px;
}
#imgrater2 .img .next{
    right: -30px;
}
#imgrater2 .btnrater{
    padding-top: 20px;
    width: 480px;

}
#imgrater2 .btnrater .passbtn{
    margin-right: 4px;
    font-size: 14px;
    color: #508c1b;
    border: none;
    padding: 4px 20px;
    background-color: #ffffff;
    border:1px solid #508c1b;
}
#imgrater2 .btnrater .passbtn:hover{
    background-color: #508c1b;
    color: #ffffff;
}
#imgrater2 .btnrater .passbtn.active{
    background-color: #508c1b;
    color: #ffffff;
}
#imgrater2 .btnrater .whilebtn{
    margin-right: 4px;
    font-size: 14px;
    color: #666666;
    border: none;
    padding: 4px 20px;
    background-color: #ffffff;
    border:1px solid #666666;
}
#imgrater2 .btnrater .whilebtn:hover{
    background-color: #666666;
    color: #ffffff;
}
#imgrater2 .btnrater .whilebtn.active{
    background-color: #666666;
    color: #ffffff;
}
#imgrater2 .btnrater .outbtn{
    margin-right: 4px;
    font-size: 14px;
    color: #ff4a3b;
    border: none;
    padding: 4px 20px;
    background-color: #ffffff;
    border:1px solid #ff4a3b;
}
#imgrater2 .btnrater .outbtn:hover{
    background-color: #ff4a3b;
    color: #ffffff;
}
#imgrater2 .btnrater .outbtn.active{
    background-color: #ff4a3b;
    color: #ffffff;
}
#imgrater2 .nextbtn{
    background-color: #262626;
    border: 0;
    border-radius: 0;
    font-size: 16px;
    color: #d0a45d;
    padding: 3px 14px;
    position: relative;
    left: 130px;
    top: 1px;
    margin-bottom: 120px;
}

@media (min-width: 768px){
    #imgrater2 .modal-dialog.modal100 {
        width: 1200px;
        margin: 30px auto;
    }
}
#imgrater2 .wrapperinfro{
    padding-left: 100px;
    width: 500px;
}
#imgrater2 .wrapperinfro li{
    padding-top: 20px;
}
#imgrater2 .wrapperinfro li span:first-child{
    display: inline-block;
    width: 80px;
    color: #999999;
}
/* 评分 */


/* 会员评审室 */
.content .btn-warning{
    background-color: #d0a45d;
    border: none;
    color: white;
    color: #000;
}
.content .btn-primary{
    color: #d0a45d;
    border: none;
    background-color: #262626;
}
.content .dropdown-menu{
    min-width: 100px;
}

/* 管理员编辑赛果 */
.edit-btn .editpassbtn{
    margin-right: 4px;
    font-size: 14px;
    color: #508c1b;
    border: none;
    padding: 4px 20px;
    background-color: #ffffff;
    border:1px solid #508c1b;
}
.edit-btn .editpassbtn:hover{
    background-color: #508c1b;
    color: #ffffff;
}
.edit-btn .editpassbtn.active{
    background-color: #508c1b;
    color: #ffffff;
}
.edit-btn .editoutbtn{
    margin-right: 4px;
    font-size: 14px;
    color: #ff4a3b;
    border: none;
    padding: 4px 20px;
    background-color: #ffffff;
    border:1px solid #ff4a3b;
}
.edit-btn .editoutbtn:hover{
    background-color: #ff4a3b;
    color: #ffffff;
}
.edit-btn .editoutbtn.active{
    background-color: #ff4a3b;
    color: #ffffff;
}
.right{
    float: right;
    margin-right: -20px;
}
.right>i{
    margin-right: 10px;
}

.num_times>li>a{
    color: #999999;
}
.on{
    border-bottom: 3px solid #d0a45d;
}
.on>a{
    color: #000 !important;
}
div.fr{
    float: right;
    padding: 0;
}
div.fr a {
    margin:0 10px 0 5px;
}
.tac{
    text-align: center;
}
.color{
    background: #d0a45d;
}
.modal .modal_img_cont{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,1);
    z-index: 1000;
}
.modal .modal_show_img {
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   margin: auto;
   max-width: 100%;
   max-height: 100%;
}
.modal_img_cont button.close{
  color: #fff;
  opacity: 1
}
.modal_img_cont span {
    position: absolute;
    top: 5%;
    right: 5%;
    color: #fff;
    border-radius:50%;
    padding: 2px 4px; 
    background-color: rgba(0,0,0,.5);
}
.modal .modal_img_cont.active{
    display: none;
}

/*弹出框*/
body .layer_alert{
    position: fixed;
    left: 0;right: 0;
    bottom: 0;top: 0;
    width: 100%;
    height: 100%;
    z-index: 100000;
    background-color: rgba(0,0,0,.5)!important;
}
.layer_alert .alert_div{
    position: absolute;
    padding: 0;
    left: 50%;top: 50%;
    transform: translate(-50%,-50%);
    width: 500px;
    background-color: #fff;
}
.layer_alert.alert h4{
    color: #000;
    font-weight: normal;
    height: 49px;
    line-height: 49px;
    font-size: 14px;
    border-bottom: 1px solid #ddd;
    padding-left: 22px;
}
.layer_alert  .alert-cont{
    color: #000;
    font-size: 16px;
    line-height: 30px;
    padding: 29px 52px 50px;
}
.layer_alert  p {
    text-align: center;
}
.layer_alert  .btn-danger{
    background-color: #d0a45d;
    border: none
}
.layer_alert.alert-dismissible .close{
    top: 10px;
    right: 13px;
}

.group{
    width: 50%;
    position: relative;
    height: 50%;
    float: left;
}
.wrapperimg{
    height: 490px;
}
.gallery-thumbs{
    height: 30%;
    box-sizing: border-box;
    padding: 10px 0;
}
.gallery-thumbs .swiper-slide {
    width: 25%;
    height: 100%;
}
.swiper-slide>img {
    max-width: 100%;
    max-height: 100%;
    /* position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto; */
}
.swiper-button-prev{
    background: none;
}
.swiper-button-next{
    background: none;
}
.continue_add {
    width: 114px;
    height: 40px;
    border-radius: 6px;
    background: #D0A45D;
    color: #fff;
    border: none;
    margin-right: 18px;
    outline: none;
}
.dialog2_button {
    position: absolute;
    bottom: -60px;
    left: 56%;
    margin-left: -193px;
}