/*轮播图*/
#advertisement .item .img-responsive{
  display: inline-block;
  height: auto;
  max-width: auto;
}
#advertisement > #carousel-example-generic > .carousel-inner {
     /*height: 330px; */
}
.pd-t{
    padding-top: 74px;
}
.slideshow #advertisement > #carousel-example-generic > .carousel-inner .item {
     height:330px; 
}

#advertisement > #carousel-example-generic > .carousel-inner img {
     height: 100%; 
}

#advertisement .carousel-indicators {
    margin-left: -20%;
    text-align: right;
}

#advertisement .carousel-indicators li {
    width: 40px;
    height: 4px;
    margin: 0;
    margin: 5px;
    background-color: white;
}

#advertisement .carousel-indicators li.active {
    background-color: #d4b178;
}

#advertisement {
    position: relative;
}

#advertisement .advertisement-text {
    position: absolute;
    left: 20%;
    top: 15%;
    color: white;
}

#advertisement .advertisement-text h2 {
    font-size: 79px;
    margin-bottom: 0;
}

#advertisement .advertisement-text h3 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 34px;
}

#advertisement .advertisement-text .lastP {
    margin-bottom: 10px;
}

#advertisement .advertisement-text a {
    color: #fff;
    background-color: transparent;
    border: 1px solid white;
    font-size: 18px;
}

/*点击轮播*/
/* #collaborate {
    position: relative;
    background-color: #f5f5f5;
}

#collaborate .owl-carousel {
    padding-top: 40px;
    padding-bottom: 40px;
}

#collaborate .owl-prev {
    position: absolute;
    left: -22px;
    top: 26%;
    font-size: 42px;
}

#collaborate .owl-next {
    position: absolute;
    right: -22px;
    top: 26%;
    font-size: 42px;
} */
/*广告标签*/
#collaborate {
    background-color: #f5f5f5;
    text-align: center;
}

#collaborate ul li{
    margin: 60px 80px;
    display: inline-block;
}
#collaborate ul li img{
    width: 68px;
    height: 68px;
}
#collaborate .container,#main .container {
    width:1094px; 
    padding:0;
}
/*主要内容*/
#main{
    background-color: #f5f5f5;
    padding-bottom: 75px;
}
#main .joinus li {
    float: left;
    padding-right: 10px;
}
#main .joinus li:last-child{
    padding-right: 0;
}
#main .joinus li img{
    width: 358px;
}

#main .match h3 {
    padding-top: 44px;
    padding-bottom: 20px;
}
#main .match h3 span{
    display: inline-block;
    margin-left: 40px;
    margin-right: 40px;
    line-height: 40px;
    color: #666666;
    border-bottom: 2px solid transparent;
}
#main .match h3 span.active{
    color: #191919;
    border-bottom: 2px solid #cca66d;
}
#main .match .dropdown {
    display: inline-block;
    padding-right: 10px;
}

#main .match .dropdown .dropdown-menu {
    min-width: 100px;
}

#main .match .match-main {
    margin-top: 20px;
}

#main .match .match-main li {
    background-color: #fff;
    width: 356px;
    height: 340px;
    float: left;
    border: 1px solid #f5f5f5;
    margin-right: 10px;
    margin-bottom: 20px;
}
#main .match .match-main li:nth-child(3n+0){
    margin-right: 0;
}
#main .match .match-main li img{
     width: 354px;
     height: 230px;
}

#main .match .match-main .match-content {
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 12px;
    color: #d2d2d2;
    padding-bottom: 10px;
}

#main .match .match-main .match-content h4 {
    font-size: 16px;
    font-weight: bold;
    margin-top: 13px;
    color: #000;
    width: 200px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

#main .match .match-main .match-content .status {
    position: absolute;
    right: 0;
    top: 0;
    padding-left: 20px;
    padding-right: 4px;
    font-size: 12px;
    color: #fff;
}
#main .match .match-main .match-content .status.status-solicit {
    background-color: #ffb11b;
}
#main .match .match-main .match-content .status.status-endsoon {
    background-color: #ff4a3b;
}
#main .match .match-main .match-content .status.status-review {
    background-color: #d0a45d;
}
#main .match .match-main .match-content .status.status-end {
    background-color: #999999;
}

#main .match .match-main .match-content p {
    padding-top: 7px;
}

#main .match .match-main .match-content .share-alt {
    position: absolute;
    right: 10px;
    bottom: 7px;
    font-size: 16px;
}
#main .match .match-main .footer{
    padding-left: 20px;
    padding-right: 20px;
    font-size: 12px;
    color: #d2d2d2;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}
#main .match .match-main .footer div{
    display: inline-block;
    padding-right: 8px;
}
#main .match .match-main .footer .fa{
    font-size: 16px;
}

#main .match .pagination{
    margin-top:5px;
}

#main .match .pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
    background-color: #c9ab70;
    border-color: #c9ab70;
}
#main .match .pagination > li > a {
    margin-left: 10px;
    padding: 8px 15px;
    border-radius: 6px;
    color: #d9d9d9;
}

/*资讯页*/
#main .zixun {
    position: absolute;right:15px;margin-top:20px;
    width:375px;
}
#main .news{
    background-color: #fff;
    height: 331px;
    overflow: hidden;
    border: 1px solid #dddddd;
}
#main .news .news-title {
    padding: 20px 20px 15px 20px;
    border-bottom: 1px solid #f5f5f5;
}
#main .news .news-title span{
    font-size: 18px;
    font-weight: bold;
    color: #a2a09d;
}
#main .news .news-title a{
    font-size: 16px;
    color: #a2a09d;
}
#main .news .news-somlogo{
    padding-bottom: 10px;
}
#main .news .news-somlogo img{
    width: 100%;
}
#main .news .news-list-ul{
    padding:9px 0 16px;
    
}
#main .news .news-list-ul li{
    padding:0 30px;
    line-height: 28px;
    position: relative;
    word-break:keep-all;/* 不换行 */
    white-space:nowrap;/* 不换行 */
    overflow:hidden;/* 内容超出宽度时隐藏超出部分的内容 */
    text-overflow:ellipsis;                
}
#main .news  .news-list-ul li::before{
    content: '.';
    font-size: 28px;
    font-weight: bold;
    color: #191919;
    clear: both;
    position: absolute;
    top: -7px;
    left: 15px;
}
#main .news .news-list a{
    color: #000;
    font-size: 14px;
    width: 248px;
    text-decoration: none;
    white-space: nowrap;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
}
#main .news .news-list a:hover{
    color: #d0a45d;
}
#main .news .news-list span{
    float: right;
    color: #dddddd;
    font-size: 14px;
}