/* 用户列表首页 */
/*主内容内容*/
/*搜索框*/
.content-wrapper > .content .search-form {
    position: relative;
}

.content-wrapper > .content .search-form .fa-search {
    color: #8e8e8e;
    font-size: 24px;
    position: absolute;
    left: 10px;
    top: 6px;
}

.content-wrapper > .content .search-form input {
    border: none;
    background-color: #f5f5f5;
    border-bottom: 2px solid #c8c8c8;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 44px;
    margin-bottom: 32px;
    min-width: 400px;
    outline: none;
    font-size: 16px;
}

/*批量导出*/
.content-wrapper > .content .batch-export .dropdown {
    position: absolute;
    right: 16px;
    top: 47px;
}
.content-wrapper > .content .batch-enter .dropdown {
    position: absolute;
    right: 118px;
    top: 47px;
}
.content-wrapper > .content .hand-users .dropdown {
    position: absolute;
    right: 234px;
    top: 47px;
}

.content-wrapper > .content .batch-export .dropdown .btn-success,
.content-wrapper > .content .batch-enter .dropdown .btn-success,
.content-wrapper > .content .hand-users .dropdown .btn-success {
    background-color: #262626;
    padding-left: 30px;
    padding-right: 30px;
    color: #d0a45d;
    border: 1px solid #262626;
}

.content-wrapper > .content .batch-export .dropdown .dropdown-menu {
    min-width: 120px;
}

.content-wrapper > .content .batch-export .dropdown-menu li {
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}

/*表格*/
.content-wrapper > .content .box {
    border-top: none;
}

.content-wrapper > .content .box .box-body {
    padding: 0;
}

.content-wrapper > .content .box .box-body #example1_wrapper #example1 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.content-wrapper > .content .box #example1 th {
    border-bottom: 8px solid #f4f4f4;
}

.content-wrapper > .content a {
    color: #000
}

.content-wrapper > .content .box .many-match.many-active {
    background-color: #666666;
    color: #8d8d8d;
}

.content-wrapper > .content .box .many-match.many-active a {
    color: #8d8d8d;
}

.content-wrapper > .content .box .only-match {
    display: none;
}

.content-wrapper > .content .box .only-match.only-active {
    display: table-row;
    background-color: #dcdcdc;
}

.content-wrapper > .content .tab-title .nav-tabs > li > a {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-left: 25px;
    padding-right: 25px;
    margin-right: 10px;
}

.pagination > li > a {
    margin-left: 10px;
    padding: 8px 15px;
    border-radius: 6px;
}

#matchnew .match-new .btn-default{
    background-color: #262626;
    color: #d0a45d;
    border: none;
}
#matchnew label{
    color:#686868;
}
#matchnew input,
#matchnew textarea,
#matchnew select{
    background-color: #fafafa;
}
#matchnew input:focus,
#matchnew textarea:focus,
#matchnew select:focus{
    background-color: #fff;
}
#matchnew input::-ms-input-placeholder{text-align: left;}
#matchnew input::-webkit-input-placeholder{text-align: left;}

/* 个人注册信息 */
#enroll{
    margin-left: 12px;
    margin-right: 20px;
}
#enroll label{
    text-align: left;
    color:#686868;
}
#enroll input,
#enroll textarea,
#enroll select{
    background-color: #fafafa;
}
#enroll input:focus,
#enroll textarea:focus,
#enroll select:focus{
    background-color: #fff;
}
#enroll input::-ms-input-placeholder{text-align: left;}
#enroll input::-webkit-input-placeholder{text-align: left;}

#enroll .title{
    padding: 10px 0;
}
#enroll .user-infro{
    padding-top: 20px;
    padding-bottom:20px;
    background-color: #fff;
}

#enroll .user-state{
    padding-top: 20px;
    padding-bottom:12px;
    background-color: #fff;
}
#enroll .user-state .btn-primary{
    background-color: #262626;
    color: #d3b37a;
    font-size: 14px;
    border: #262626;
    position: relative;
    left: -16px;
}

#enroll .userdetail{
    padding-top: 20px;
}
#enroll .userdetail > .nav-tabs > li > a{
    color: #9e9e9e;
}
#enroll .userdetail > .nav-tabs > li.active > a{
    color: #676767;
}
#enroll .userdetail .nav-tabs>li.active>a,
#enroll .userdetail .nav-tabs>li.active>a:focus,
#enroll .userdetail .nav-tabs>li.active>a:hover{
    border: 1px solid transparent;
}
#enroll #home{
    padding: 30px 20px;
}
#enroll #home label:nth-child(2n){
    color: #141414;
}
#enroll #home img{
    width: 186px;
    height: 244px;
}

#enroll #profile{
    padding: 30px 20px;
}
#enroll #profile label:nth-child(2n){
    color: #141414;
}
#enroll #profile img{
    width: 240px;
    height: 220px;
}
#enroll #profile .nav-tabs{
    margin-bottom: 20px;
    border: none;
}
#enroll #profile #myTab li a{
    border: 1px solid #f8f8f8;
    color: #939393;
}
#enroll #profile #myTab li.active a{
    border: 1px solid #f8f8f8;
    background-color: #dcdcdc;
}
#enroll #profile .btn-primary{
    background-color: #262626;
    color: #d3b37a;
    font-size: 14px;
    border: #262626;
    padding-left: 25px;
    padding-right: 25px;
    position: relative;
    left: 0px;
}

#enroll #messages{
    padding: 30px 20px;
    margin-bottom:50px;
}
#enroll #messages label:nth-child(2n){
    color: #141414;
}
#enroll #messages img{
    padding-bottom: 20px;
    width: 222px;
    height: 114px;
}
#enroll #messages .nav-tabs{
    margin-bottom: 20px;
    border: none;
}
#enroll #messages #myTab li a{
    border: 1px solid #f8f8f8;
    color: #939393;
}
#enroll #messages #myTab li.active a{
    border: 1px solid #f8f8f8;
    background-color: #dcdcdc;
}
#enroll #messages .btn-primary{
    background-color: #262626;
    color: #d3b37a;
    font-size: 14px;
    border: #262626;
    padding-left: 25px;
    padding-right: 25px;
    position: relative;
    left: 0px;
}
#myModal .btn-primary{
    padding-left: 20px;
    padding-right: 20px;
    background-color: #000;
    border: 2px solid #000;
    color: #d4b179;
    margin-right: 50px;
}
#myModal .btn-defalut{
    background-color: #fff;
    border: 2px solid #e3e3e3;
    color: #323232;
}

/* 新建用户 */
#newuser .userbasic .btn-primary{
    background-color: #262626;
    color: #d3b37a;
    font-size: 14px;
    border: #262626;
}

#newuser{
    margin-left: 12px;
    margin-right: 20px;
}
#newuser label{
    text-align: left;
    color:#686868;
}
#newuser input,
#newuser textarea,
#newuser select{
    background-color: #fafafa;
}
#newuser input:focus,
#newuser textarea:focus,
#newuser select:focus{
    background-color: #fff;
}
#newuser input::-ms-input-placeholder{text-align: left;}
#newuser input::-webkit-input-placeholder{text-align: left;}

#newuser .title{
    padding: 10px 0;
}
#newuser .user-infro{
    padding-top: 20px;
    padding-bottom:20px;
    background-color: #fff;
}
#newuser .userdetail{
    padding-top: 20px;
}
#newuser .userdetail > .nav-tabs > li > a{
    color: #9e9e9e;
}
#newuser .userdetail > .nav-tabs > li.active > a{
    color: #676767;
}
#newuser .userdetail .nav-tabs>li.active>a,
#newuser .userdetail .nav-tabs>li.active>a:focus,
#newuser .userdetail .nav-tabs>li.active>a:hover{
    border: 1px solid transparent;
}
#newuser #home{
    padding: 30px 20px;
}
#newuser #home label:nth-child(2n){
    color: #141414;
}
#newuser #home img{
    width: 186px;
    height: 244px;
}
#newuser #messages{
    padding: 30px 20px;
    margin-bottom:50px;
}
#newuser #messages label:nth-child(2n){
    color: #141414;
}
#newuser #messages img{
    padding-bottom: 20px;
    width: 222px;
    height: 114px;
}
#newuser #messages .nav-tabs{
    margin-bottom: 20px;
    border: none;
}
#newuser #messages #myTab li a{
    border: 1px solid #f8f8f8;
    color: #939393;
}
#newuser #messages #myTab li.active a{
    border: 1px solid #f8f8f8;
    background-color: #dcdcdc;
}
#newuser #messages .btn-primary{
    background-color: #262626;
    color: #d3b37a;
    font-size: 14px;
    border: #262626;
    padding-left: 25px;
    padding-right: 25px;
    position: relative;
    left: 0px;
}
