/*初始化样式*/
body {
    font-family: "Microsoft YaHei";
    background-color: #e8e8e8;
}

@media (min-width: 1400px) {
    body .container {
        width: 1380px;
    }
}
.line-limit-length{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; 
}
.skin-blue .main-header .navbar .nav > li > a:hover,
.skin-blue .main-header .navbar .nav > li > a:active,
.skin-blue .main-header .navbar .nav > li > a:focus,
.skin-blue .main-header .navbar .nav .open > a,
.skin-blue .main-header .navbar .nav .open > a:hover,
.skin-blue .main-header .navbar .nav .open > a:focus,
.skin-blue .main-header .navbar .nav > .active > a {
    background-color: #fff;
    color: #000;
}

.skin-blue .sidebar-menu > li:hover > a,
.skin-blue .sidebar-menu > li.active > a,
.skin-blue .sidebar-menu > li.menu-open > a {
    background-color: #191919;
}

.skin-blue .sidebar-menu .treeview-menu>li.active>a, .skin-blue .sidebar-menu .treeview-menu>li>a:hover{
    background-color: #d0a45d;
}

.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
    padding: 15px;
}

.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
    background-color: #c9ab70;
    border-color: #c9ab70;
}

input::-webkit-input-placeholder{
    color:#ccc;
}
input::-moz-placeholder{   /* Mozilla Firefox 19+ */
    color:#ccc;
}
input:-moz-placeholder{    /* Mozilla Firefox 4 to 18 */
    color:#ccc;
}
input:-ms-input-placeholder{  /* Internet Explorer 10-11 */ 
    color:#ccc;
}
/*清除浮动*/
.clearfix {
    content: '';
    display: block;
    clear: both;
}

/*头部导航*/
.wrapper > .main-header > .logo {
    color: #d0a45d;
    line-height: 70px;
    height: 70px;
    font-size: 16px;
    width: 244px;
    background-color: #191919;
    padding-left: 0;
    padding-right: 0;
}

.wrapper > .main-header > .logo:hover {
    background-color: #191919;
}

.wrapper > .main-header > .navbar-static-top {
    background-color: #fff;
    margin-left: 244px;
}

.main-header > .navbar-static-top > .navbar-left ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-header .navbar-left ul li {
    float: left;
    padding-left: 37px;
    line-height: 70px;
}

.main-header .navbar-left ul li .glyphicon {
    color: #000;
    font-size: 18px;
}

.main-header .navbar-left ul li .glyphicon:hover {
    color: #000;
}

.wrapper > .main-header .navbar-collapse .navbar-nav > li {
    padding-right: 10px;
}

.wrapper > .main-header .navbar-collapse .navbar-nav > li > a {
    padding-top: 24px;
    padding-bottom: 24px;
    color: #000;
    font-size: 18px;
}

.main-header .navbar .nav > li > a > .label {
    top: 19px;
    right: 3px;
}

.wrapper > .main-header .navbar-collapse .navbar-nav li a:hover {
    color: #000;
    background-color: #fff;
}

.wrapper > .main-header .navbar-collapse .navbar-nav .user-menu {
    position: relative;
}

.wrapper > .main-header .navbar-collapse .navbar-nav .circle {
    position: absolute;
    left: 38px;
    top: 19px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #ff0000;
}

/*侧边栏菜单*/
.wrapper > .main-sidebar {
    width: 244px;
    background-color: #333333;
}

.main-sidebar > .sidebar {
    padding-top: 20px;
}

.main-sidebar > .sidebar > .organization-logo {
    width: 120px;
    height: 40px;
    margin-top: 58px;
    margin-left: 22px;
}

.main-sidebar > .sidebar > .sidebar-menu {
    padding-top: 84px;
}

.main-sidebar > .sidebar > .sidebar-menu li a {
    border-left: none;
    padding-left: 5px;
    color: #73787b;
    font-size: 18px;
}

.main-sidebar > .sidebar > .sidebar-menu li a:hover
{
    color: #000;
    background-color: #d0a45d;
}

.main-sidebar > .sidebar > .sidebar-menu .treeview-menu {
    margin: 0;
    padding-left: 0;
    background-color: #191919;
}

.main-sidebar > .sidebar > .sidebar-menu .treeview-menu li {
    line-height: 40px;
}

/*.main-sidebar > .sidebar > .sidebar-menu .treeview-menu li a {
    color: #bebebe;
}*/

.main-sidebar > .sidebar > .sidebar-menu .treeview-menu li a:hover
{
    color: #000;
}

/*右边内容*/
.content-wrapper {
    margin-left: 244px;
    background-color: #f5f5f5;
}
.content-wrapper > .content-header {
    padding-top: 10px;
    padding-left: 20px;
}

.content-wrapper > .content-header .nav-tabs {
    border-bottom: 0;
}

.content-wrapper > .content-header .nav-tabs li a {
    margin-left: -1px;
    padding: 8px 20px;
    color: #000;
    margin-right: 0;
    border: 1px solid #f5f5f5;
    border-radius: 0;
}

/*主内容内容*/
.content-wrapper > .content-header .dropdown .btn-default {
    background-color: #fff;
}

.content-wrapper > .content-header #dropdownMenu3 {
    border: none;
    background-color: #f5f5f5;
}

.content-wrapper > .content-header #dropdownMenu3 {
    border: none;
    background-color: #f5f5f5;
}

.content-wrapper > .content-header .dropdown .dropdown-menu {
    min-width: 90px;
    top: 94%;
}
.content-wrapper > .content-header .dropdown .dropdown-menu {
    min-width: 90px;
    top: 94%;
}
.content-wrapper > .content-header .optionalfiltrate .dropdown .dropdown-menu {
    padding: 20px 20px 0 20px;
}

.content-wrapper > .content-header .statefiltrate {
    margin-left: -140px;
}

.content-wrapper > .content-header .optionalfiltrate {
    margin-left: -150px;
} 