/*初始化*/
body {
    font-family: "Microsoft YaHei";
}

@media (min-width: 1400px) {
    body .container {
        width: 1380px;
    }
}

ul, p, h4 {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}
/*导航*/
#header .topbar {
    width: 100%;
    z-index: 9999;
    background-color: white;
}

#header {
    padding-top: 0;
    padding-bottom: 0;
    /*padding-left: 24px; */

}

#header .topbar .som-logo {
    padding-top: 22px;
}

#header .navbar-collapse {
    background-color: #ffffff;
}

#header .navbar-collapse a {
    color: #818181;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 18px;
    line-height: 40px;
    background-color: transparent;
}

#header .navbar-collapse li.active a {
    border-bottom: 4px solid #d0a45d;
}

#header .navbar-collapse a:hover {
    border-bottom: 4px solid #d0a45d;
}

#header .topbar .som-nav {
    position: relative;
    left: 250px;
}

#header .topbar .som {
    padding-top: 18px;
    color: #aaa8a6;
}

#header .topbar .som button {
    background-color: #fff;
}

#header .topbar .personal-center img,
#header .topbar .language-switch img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    position: relative;
    left: 10px;
}

#header .topbar .dropdown {
    padding-left: 14px;
}

#header .topbar .language-switch {
    padding-left: 30px;
}
/*头部*/
#users {
    background-color: #2e2e2e;
}

#users .users-intro {
    padding-top: 40px;
    color: #9f865f;
    padding-bottom: 40px;
}

#users .users-intro p {
    padding-top: 15px;
    font-size: 18px;
}

#personal {
    padding-top: 15px;
    background-color: #f5f5f5;
}

#personal .personal-tabs ul li a {
    text-decoration: none;
    display: block;
    color: #bbbbbb;
    line-height: 50px;
    border: 1px solid #f8f8f8;
    background-color: #fff;
}

#personal .personal-tabs ul li a:hover {
    border-left: 5px solid #d0a45d;
    color: #000;
}

#personal .personal-tabs ul li.active a {
    border-left: 5px solid #d0a45d;
    color: #000;
}

/*搜索框*/
.personal-search {
    position: relative;
}

.personal-search .fa-search {
    color: #8e8e8e;
    font-size: 24px;
    position: absolute;
    left: 10px;
    top: 10px;
}

.personal-search input {
    border: none;
    background-color: #f5f5f5;
    border-bottom: 2px solid #c8c8c8;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 44px;
    margin-bottom: 32px;
    min-width: 400px;
    outline: none;
    font-size: 16px;
}

/*参赛作品*/
.product .match-main {
    margin-right: -30px;
    margin-top: 10px;
    margin-bottom: 80px;
}

.product .match-main > li {
    position: relative;
    background-color: #fff;
    width: 248px;
    height: 295px;
    float: left;
    border: 1px solid #f5f5f5;
    margin-right: 15px;
    margin-bottom: 20px;
}
.product .match-main > li img{
     width: 246px;
     height: 184px;
}

.product .match-main .match-content {
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 12px;
    color: #d2d2d2;
    padding-bottom: 4px;
    border-bottom: 2px solid #e9e9e9;
}

.product .match-main .match-content h4 {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 5px;
    color: #686868;
}
.product .match-main .match-content p {
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 14px;
    color: #bdbdbd;
}
.product .match-main .match-content .status {
    position: absolute;
    right: 0;
    top: 0;
    padding-left: 20px;
    padding-right: 4px;
    font-size: 12px;
    color: #fff;
}
.product .match-main .match-content .status.status-solicit {
    background-color: #d4b179;
}
.product .match-main .match-content .status.status-endsoon {
    background-color: #ff4a3b;
}
.product .match-main .match-content .status.status-review {
    background-color: #d0a45d;
}
.product .match-main .match-content .status.status-end {
    background-color: #999999;
}
.product .match-main .footer{
    padding-top: 2px;
    text-align: center;
    vertical-align: top;
}
.product .match-main .footer a{
    padding-left: 6px;
    padding-right: 6px;
    color: #d2d2d2;
    font-size: 16px;

}
/* 获奖记录 */
#personal .award table {
    background-color: #fff;
    border: 1px solid #f7f7f7;
}

#personal .award table th {
    color: #cccccc;
    line-height: 70px;
    font-size: 16px;
    border-bottom: 1px solid #f7f7f7;
}

#personal .award table td {
    line-height: 50px;
    border-bottom: 1px solid #f7f7f7;
}

#personal .award table th,
#personal .award table td {
    padding-left: 20px;
}
/*剩余消费*/
#personal .consumes table {
    background-color: #fff;
    border: 1px solid #f7f7f7;
}

#personal .consumes table th {
    color: #cccccc;
    line-height: 70px;
    font-size: 16px;
    border-bottom: 1px solid #f7f7f7;
}

#personal .consumes table td {
    line-height: 50px;
    border-bottom: 1px solid #f7f7f7;
}

#personal .consumes table th,
#personal .consumes table td {
    padding-left: 20px;
}
#personal .consumes tbody tr td:last-child a{
    color: #000;
    font-size: 18px;
}

/*个人信息*/
#personal .box {
    border-top: 0;
}

#personal .box .box-body {
    padding-left: 125px;
}
#personal .box .box-header span{
    padding-left: 20px;
}
#personal .box h3 {
    font-size: 16px;
    line-height: 50px;
    color: #9a9895;
}

#personal .box .box-header {
    padding-left: 80px;
}

#personal .box form label {
    color: #9a9895;
}
#personal .box .box-body input{
    background-color: #fafafa;
}
#personal .box .box-body input:focus{
    background-color: transparent;
}
#personal .box .box-body .btn-warning{
    position: relative;
    left: 85px;
    padding: 8px 36px;
    background-color: #d0a45d;
    border: none;
    font-size: 18px;
}
#personal .box .box-body .fa-weixin,
#personal .box .box-body .fa-qq,
#personal .box .box-body .fa-weibo{
    font-size: 20px;
}
.basic-information{
    position: relative;
}
.basic-information .img{
    position: absolute;
    right: 105px;
    top: 80px;
    width: 142px;
    height: 142px;
}
.basic-information .img img{
    width: 142px;
    height: 142px;
}
/*机构资料*/
#enroll{
    margin-left: 12px;
    margin-right: 20px;
}
#enroll label{
    text-align: left;
    color:#686868;
}
#enroll input,
#enroll textarea,
#enroll select{
    background-color: #fafafa;
}
#enroll input:focus,
#enroll textarea:focus,
#enroll select:focus{
    background-color: #fff;
}
#enroll input::-ms-input-placeholder{text-align: left;}
#enroll input::-webkit-input-placeholder{text-align: left;}

#enroll .title{
    padding: 10px 0;
}
#enroll .user-infro{
    padding-top: 20px;
    padding-bottom:20px;
    background-color: #fff;
}

#enroll .user-state{
    padding-top: 20px;
    padding-bottom:12px;
    background-color: #fff;
}
#enroll .userdetail > .nav-tabs > li > a{
    color: #9e9e9e;
}
#enroll .userdetail > .nav-tabs > li.active > a{
    color: #676767;
}
#enroll .userdetail .nav-tabs>li.active>a,
#enroll .userdetail .nav-tabs>li.active>a:focus,
#enroll .userdetail .nav-tabs>li.active>a:hover{
    border: 1px solid transparent;
}
#enroll #profile{
    padding: 30px 20px;
    margin-bottom:50px;
}
#enroll #profile label:nth-child(2n){
    color: #141414;
}
#enroll #profile img{
    width: 240px;
    height: 240px;
}
#enroll #profile .nav-tabs{
    margin-bottom: 20px;
    border: none;
}

#enroll #messages{
    padding: 30px 20px;
    margin-bottom:50px;
}
#enroll #messages label:nth-child(2n){
    color: #141414;
}
#enroll #messages img{
    width: 240px;
    height: 240px;
}
#enroll #messages .nav-tabs{
    margin-bottom: 20px;
    border: none;
}
#enroll .btn-warning{
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #d0a45d;
    border: none;
}